name: Build

on:
  push:
    branches: [ main ]
    paths-ignore:
      - '**/README.md'
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      ACCEPT_EULA: Y
      SQLSERVER_SA_PASSWORD: SqlSever123123
      SQLSERVER_INTEGRATED_SECURITY: 'False'
      
    steps:

    - name: Determine Git Checkout information
      id: checkout-info
      run: |
        if [ $GITHUB_EVENT_NAME == 'pull_request' ]; then
          BRANCH_NAME=$(echo ${{ github.event.pull_request.head.ref }})
          REPOSITORY_NAME=$(echo ${{ github.event.pull_request.head.repo.full_name }})
        else
          BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/})
          REPOSITORY_NAME=$(echo ${{ github.repository }})
        fi

        echo "BRANCH_NAME=$BRANCH_NAME" >> $GITHUB_ENV
        echo "REPOSITORY_NAME=$REPOSITORY_NAME" >> $GITHUB_ENV
        echo "Git checkout information:"
        echo "Branch name: $BRANCH_NAME"
        echo "Repository name: $REPOSITORY_NAME"

    - name: Git Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
        ref: ${{ env.BRANCH_NAME }}
        repository: ${{ env.REPOSITORY_NAME }}
      
    - name: Commit Lint
      uses: wagoid/commitlint-github-action@v3.1.4
      with:
        firstParent: false
        failOnWarnings: true

    - name: Force fetch tags
      run: git fetch --tags --force

    - name: Find last tag
      id: prev-version-tag
      run: |
        last_tag=$(git tag -l "*[0-9].*[0-9].*[0-9]*" --sort "-version:refname" | head -n 1)
        echo "::set-output name=tag::$last_tag"

    - name: Find last commit message
      id: last-commit-message
      run: |
        last_commit_message=$(git log -1 --pretty=%s $BRANCH_NAME --)
        echo "Last commit message found:"
        echo " $last_commit_message"
        echo "LAST_COMMIT_MESSAGE=$last_commit_message" >> $GITHUB_ENV

    - name: Bump next build version options
      id: semvers
      uses: "WyriHaximus/github-action-next-semvers@v1.0"
      with:
        version: ${{ steps.prev-version-tag.outputs.tag }}

    - name: Set next build version
      id: build-context
      env:
        MAJOR: ${{steps.semvers.outputs.major}}
        MINOR: ${{steps.semvers.outputs.minor}}
        PATCH: ${{steps.semvers.outputs.patch}}
        CURRENT: ${{steps.prev-version-tag.outputs.tag}}
      run: |
        echo "::set-output name=current-version::$CURRENT"

        if [[ $LAST_COMMIT_MESSAGE =~ ^major:.*$ ]]; then
          echo "Bumping to next major version."
          NEXT_VERSION="$MAJOR"
        elif [[ $LAST_COMMIT_MESSAGE =~ ^feat:.*$ ]]; then
          echo "Bumping to next minor version."
          NEXT_VERSION="$MINOR"
        elif [[ $LAST_COMMIT_MESSAGE =~ ^(fix|ci|refactor|chore):.*$ ]]; then
          echo "Bumping to next patch version."
          NEXT_VERSION="$PATCH"
        else
          echo "Skipping version bump."
          NEXT_VERSION="$CURRENT"
        fi

        
        if [[ $BRANCH_NAME = 'main' ]]; then
          echo '::set-output name=context::release'
        elif [[ $NEXT_VERSION != $CURRENT ]]; then
          NEXT_VERSION="$NEXT_VERSION-beta"
          echo '::set-output name=context::beta'
        else
          echo '::set-output name=context::beta'
        fi

        echo "::set-output name=next-version::$NEXT_VERSION"
        echo "Next version is: $NEXT_VERSION"
        echo "BUILD_VERSION=$NEXT_VERSION" >> $GITHUB_ENV

    - name: Print build version
      run: echo "Build version will be $BUILD_VERSION"
        
    - name: Update project version
      uses: roryprimrose/set-vs-sdk-project-version@v1
      with:
        projectFilter: '*.csproj'
        version: ${{ env.BUILD_VERSION }}
        assemblyVersion: ${{ env.BUILD_VERSION }}
        fileVersion: ${{ env.BUILD_VERSION }}
        informationalVersion: ${{ env.BUILD_VERSION }}
        
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x

    - name: Restore dependencies
      run: dotnet restore src/KafkaFlow.Retry.sln
      
    - name: Build
      run: dotnet build --no-restore -c Release src/KafkaFlow.Retry.sln
      
    - name: Start SqlServer
      run: docker run -d -p 1433:1433 -e ACCEPT_EULA=${{ env.ACCEPT_EULA }} -e SA_PASSWORD=${{ env.SQLSERVER_SA_PASSWORD }} -e MSSQL_PID=Developer mcr.microsoft.com/mssql/server:2017-latest
      
    - name: Start MongoDB
      uses: supercharge/mongodb-github-action@1.6.0
      with:
        mongodb-version: '4.4'
        #mongodb-port: 27017 (default)
    
    - name: Start Kafka 
      uses: 280780363/kafka-action@v1.0
      with:
        kafka version: "latest" # Optional, kafka version
        zookeeper version: "latest" # Optional, zookeeper version
        kafka port: 9092 # Optional, kafka port. Connect using localhost:9092
        zookeeper port: 2181 # Optional, zookeeper port
        auto create topic: "true" # Optional, auto create kafka topic

    - name: Test
      run: dotnet test --no-build  -c Release --verbosity normal --collect:"XPlat Code Coverage" --results-directory:"../../coverage-outputs" -m:1 src/KafkaFlow.Retry.sln

    - name: Delete build tag if exists
      uses: dev-drprasad/delete-tag-and-release@v0.2.0
      continue-on-error: true
      with:
        delete_release: false
        tag_name: ${{ env.BUILD_VERSION }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Set build tag
      uses: anothrNick/github-tag-action@1.26.0
      continue-on-error: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        DEFAULT_BUMP: none
        WITH_V: false
        CUSTOM_TAG: ${{ env.BUILD_VERSION }}
        TAG_CONTEXT: branch
        RELEASE_BRANCHES: .*
