name: Publish

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest

    env:
      BUILD_VERSION: ${{ github.event.release.tag_name }}
      NUGET_SOURCE: https://api.nuget.org/v3/index.json

    steps:
    - uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
      
    - name: Update project version
      uses: roryprimrose/set-vs-sdk-project-version@v1
      with:
        projectFilter: '*.csproj'
        version: ${{ env.BUILD_VERSION }}
        assemblyVersion: ${{ env.BUILD_VERSION }}
        fileVersion: ${{ env.BUILD_VERSION }}
        informationalVersion: ${{ env.BUILD_VERSION }}

    - name: Pack KafkaFlow.Retry
      run: dotnet pack src/KafkaFlow.Retry/KafkaFlow.Retry.csproj -c Release --include-symbols /p:Version=${{ env.BUILD_VERSION }}
          
    - name: Pack KafkaFlow.Retry.API
      run: dotnet pack src/KafkaFlow.Retry.API/KafkaFlow.Retry.API.csproj -c Release --include-symbols /p:Version=${{ env.BUILD_VERSION }}
      
    - name: Pack KafkaFlow.Retry.Postgres
      run: dotnet pack src/KafkaFlow.Retry.Postgres/KafkaFlow.Retry.Postgres.csproj -c Release --include-symbols /p:Version=${{ env.BUILD_VERSION }}
      
    - name: Pack KafkaFlow.Retry.SqlServer
      run: dotnet pack src/KafkaFlow.Retry.SqlServer/KafkaFlow.Retry.SqlServer.csproj -c Release --include-symbols /p:Version=${{ env.BUILD_VERSION }}
      
    - name: Pack KafkaFlow.Retry.MongoDb
      run: dotnet pack src/KafkaFlow.Retry.MongoDb/KafkaFlow.Retry.MongoDb.csproj -c Release --include-symbols /p:Version=${{ env.BUILD_VERSION }}

    - name: Publish
      run: dotnet nuget push ./**/*.nupkg -k ${{ secrets.NUGET_PUBLISH_KEY }} -s ${{ env.NUGET_SOURCE }} --skip-duplicate

    - name: Print Version
      run: echo ${{ env.BUILD_VERSION }}
